* {
	margin: 0;
	padding: 0;
}

html {
	background: #000;
	font-size: 20px;
	font-family: sans-serif;
	font-weight: 200;
	color: #aab;
}

nav {
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	background: rgba(0, 0, 0, 0.75);
	height: 3rem;
	width: 100%;
	z-index: 1000;
}

form {
	display: flex;
	flex-basis: 80%;
	max-width: 20rem;
}

input[type="text"] {
	display: block;
	flex-grow: 1;
	box-shadow: none;
	border-radius: 0;
	border: none;
	border-bottom: solid 2px #aab;
	background: transparent;
	color: #fff;
	text-align: center;
	transition: border 0.2s;
	font-size: inherit;
}

input[type="text"]::-webkit-input-placeholder {
	color: #aab;
}

input[type="text"]:hover, input[type="text"]:focus {
	border-color: #fff;
	outline: none;
}

button {
	border: none;
	background: none;
	margin-left: 0.5rem;
}

svg {
	display: block;
	width: 1rem;
	height: 1rem;
	stroke-width: 2px;
	stroke: #aab;
	transition: stroke 0.2s;
}

svg:hover, svg:focus {
	stroke: #fff;
}

#hint {
	position: absolute;
	text-align: center;
	top: 50%;
	left: 50%;
	opacity: 1;
	visibility: visible;
	transform: translate(-50%, -50%);
	transition: opacity 200ms, visibility 200ms step-start;
}

#hint.is-hidden {
	opacity: 0;
	visibility: hidden;
	transition: opacity 200ms, visibility 200ms step-end;
}

#hint.is-error {
	color: red;
}

#viewer {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	visibility: hidden;
	opacity: 0;
	width: 100%;
	height: calc(100% - 3rem);
	background: rgba(0, 0, 0, 0.75);
	z-index: 1000;
	transition: opacity 200ms, visibility 200ms step-end;
}

#viewer.is-active {
	opacity: 1;
	visibility: visible;
	transition: opacity 200ms, visibility 200ms step-start;
}

#viewer-image {
	opacity: 0;
	max-width: 80%;
	max-height: 80%;
	transform: scale(0.95);
}

#viewer-image.is-loaded {
	opacity: 1;
	transform: scale(1);
	transition: opacity 200ms ease-out, transform 200ms ease-out;
}

#tile-container {
	display: flex;
	flex-wrap: wrap;
	margin-top: 3rem;
	list-style-type: none;
}

.tile {
	width: 75px;
	height: 75px;
	transition: transform 100ms;
	background-position: center;
	background-repeat: none;
}

.tile:hover {
	transform: translateY(-10px);
}

#spinner {
	display: none;
	margin: 2rem auto;
	animation-name: spin;
	animation-duration: 0.5s;
	animation-iteration-count: infinite;
}

#spinner.is-visible {
	display: block;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}