* {
    margin: 0;
    padding: 0;
}

html {
    background: #000;
    font-size:20px;
    font-family: sans-serif;
}

nav {
    top: 0;
    display: block;
    position: fixed;
    background: rgba(0,0,0,0.75);
    float: left;
    height: 3rem;
    width: 100%;
    padding: 0 0.5rem;
    z-index: 1000;
}

.control {
    float: left;
    margin: 1rem 0.5rem;
}

input[type="text"] {
    display: block;
    appearance: none;
    box-shadow: none;
    border-radius: 0;
    border: none;
    border-bottom: solid 2px #aaa;
    background: rgba(0,0,0,0);
    color: #fff;
    transition: border 0.2s;
    font-size: inherit;
}

input[type="text"]::-webkit-input-placeholder {
    color: #aaa;
}

input[type="text"]:hover,
input[type="text"]:focus {
    border-color: #fff;
    outline: none;
}

svg {
    display: block;
    width: 1rem;
    height: 1rem;
    stroke-width: 2px;
    stroke: #aaa;
    transition: stroke 0.2s;
}

svg:hover,
svg:focus {
    stroke: #fff;
}

#viewer {
    display: none;
    position: fixed;
    margin-top: 3rem;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.75);
    z-index: 1000;
}

#viewer-image {
    display: block;
    position: absolute;
		top: 50%;
		left: 50%;
		max-width: 80%;
		max-height: 80%;
		transform: translate(-50%, -50%);
}

#tile-container {
    display: inline-block;
    margin-top: 3rem;
    list-style-type: none;
}

.tile {
    display: inline-block;
    width: 5vw;
    height: 5vw;
    float: left;
    overflow: hidden;
    transition: transform 0.1s;
}

.tile:hover {
    transform: translateY(-10px);
}

.tile img {
    display: block;
}

#spinner {
    display: none;
    margin: 2rem auto;
    animation-name: spin;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

@keyframes spin {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
