* {
    margin: 0;
    padding: 0;
}

html {
    background: #000;
    font-size:20px;
    font-family: sans-serif;
}

#tile-container {
    display: inline-block;
    margin-top: 3rem;
    list-style-type: none;
}

.tile {
    display: inline-block;
    width: 25vw;
    height: 25vw;
    float: left;
    overflow: hidden;
    transition: transform 0.3s;
}

.tile:hover {
    transform: translateY(-10px);
}

.tile img {
    display: block;
}

nav {
    top: 0;
    display: block;
    position: fixed;
    background: rgba(0,0,0,0.75);
    float: left;
    height: 3rem;
    width: 100%;
    padding: 0 0.5rem;
    z-index: 1000;
}

.control {
    float: left;
    margin: 1rem 0.5rem;
}

input[type="text"] {
    display: block;
    appearance: none;
    box-shadow: none;
    border-radius: 0;
    border: none;
    background-color: rgba(0,0,0,0);
    transition: border 0.3s;
    color: #fff;
    font-size: inherit;
    background-color: rgba(0,0,0,0);
    border-bottom: solid 2px #aaa;
}

input[type="text"]::-webkit-input-placeholder {
    color: #aaa;
}

input[type="text"]:hover,
input[type="text"]:focus {
    border-color: #fff;
    outline: none;
}

svg {
    width: 1rem;
    height: 1rem;
    stroke-width: 2px;
    stroke: #aaa;
    transition: stroke 0.3s;
}

svg:hover,
svg:focus {
    stroke: #fff;
}